
html, body {
    height: 100%;
    /*display: none;*/
}


/******** header ********/

#header {
    position: relative;
    height: 20%;
    max-height: 150px;
    /*border-bottom: thin solid gainsboro;*/

    width: 90%;
    margin: 0 auto;

}

#title{
    display: block;
    position: relative;
    float: left;
    /*left: 5%;*/
    font-size: 2em;
    margin-top: 1.5em;

    /* below to center. but seems to take it out of normal flow */
    /*top: 50%;*/
    /*transform: translateY(-50%);*/

}

#about{
    float:right;
    /*margin-top: 3.5em;*/
    clear: left;
    display: none;

}

#navigation {
    /*position: absolute;*/
    /*left: 20px;*/
    /*bottom: 0;*/
    display: block;
    position: relative;
    /*left: 5%;*/

    clear: left;




}

#locations{
    /*display: table;*/
    width: 100%;
}

li {
    display: inline;
    /*display: table-cell;*/
    text-decoration: none;
    margin-right: 2em;


}

ul#locations{
    padding: 0;
}

#navigation a {
    display: inline;

}



/* unvisited link */

a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: grey;
}

hr{
    border-top: 0;
    margin-bottom: 5em;

}

/******** Main ********/
#container {
    width: 90%;
    margin: 0 auto;
}

#picturesContainer {
    width: 100%;
    margin: 0 auto;
}

.picturesHidden {
    display: none;
}

h2{
    display: block;
    clear: both;
    font-weight: normal;
    text-align: center;
    padding-top: 2em;

    display: none;


}

.leaderImg {
    display: block;
    width: 100%;
    margin: 2em auto 0 auto;
}

.leftImg {
    float: left;
    width:49%;
    margin-top: 2em;
}

.rightImg {
    float: right;
    width:49%;
    margin-top: 2em;
}

.moreButton {
    text-align: center;
}


button {
    /*margin: 0 auto;*/
    clear: both;
    margin-top: 1.5em;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
}