
html, body {
    height: 100%;
    margin: 0;
    padding: 0;

}
/**************************************** ==== Landing Page ==== ****************************************/
#background{
    width: 100%;
    max-height: 848px;
    overflow: hidden;
    z-index: -1;
    margin: 0;
    /*border-bottom: 30px solid #21252C;*/
}

#headerBox{
    position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    min-width: 700px;
    height: 100px;
    background-color: rgba(0,0,0,.3);
    z-index: 1;
}

#logoBox{
    position: absolute;
    margin: 0;
    width: 150px;
    height: 100%;
    /*position: absolute;*/
    /*top: 10%;*/
    /*left: 15%;*/
    z-index: 2;
    background-color: rgba(0,0,0,.5);
    /*opacity:.75;*/

}

#logoBox img{
    display: block;
    position: relative;
    height: auto;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    /*margin: auto 5px auto 5px;*/
    top: 50%;
    transform: translate(0, -50%);
    z-index: 3;

}

#navigationBox {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 165px;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
}


/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: grey;
}

/**************************************** ==== Transition Block ==== ****************************************/



#transition{
    position: relative;
    background: #21252C;
    width: 100%;
    height: 300px;
}

#transitionPic{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

/****** TEMPORARY *******/
button {
    margin-top: 20px;
}

/**************************************** ==== Image Gallery ==== ****************************************/

/******** Main ********/
#main{

}

/************************ second navigation box ************************/
#navigationBox2{
    position: relative;
    float: left;
    width: 15%;
    height: 100%;
}

/* activated once second navigation box reaches top of screen */
#navigationBox2.fixBox{
    position: fixed;
    top: 0;
    left: 0;
}

#logoBox2{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#logoBox2 img{
    width: 100%;
}

#box2Items{
    margin: 25px auto 200px 25px;
}

.location{
    margin-top: 5px;
}


/* unvisited link for second box */
#navigationBox2 a:link {
    color: black;
}

/* visited link for second box */
#navigationBox2 a:visited {
    color: black;
}

#navigationBox2 a:hover {
    color: grey;
}

/************************ Images ************************/

#container {
    float: right;
    width: 85%;
    margin: 0 auto;

}

#picturesContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h2{

    font-weight: normal;
    margin-top: 0;
    color: white;
    /*text-align: center;*/


}

/*.leaderImg {*/
    /*display: block;*/
    /*display: none;*/
    /*width: 100%;*/
    /*margin: 0 auto 2em auto;*/
/*}*/

/*.leftImg {*/
    /*float: left;*/
    /*width:48%;*/
    /*margin: 7px 0 7px 7px;*/
/*}*/

/*.rightImg {*/
    /*float: left;*/
    /*width:48%;*/
    /*margin: 7px 7px 7px 7px;*/
/*}*/

.Img{
    float: left;
    width:48%;
    margin: 7px;

}

.moreButton {
    font-size: 1.5em;
    text-align: center;
    clear: both;
}